html, body {
  height: 100%; 
  margin: 0; 
  overflow: hidden; 
}

body {
  background-image: url('/background.jpg');
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center;
}
